.component-counter {
  margin-bottom: 20px;
  .text {
    font-weight: bold;
    &.text-yellow {
      color: yellow;
    }
    &.text-blue {
      color: blue;
    }
    &.text-green {
      color: green;
    }
  }
}